.chart-container {
    position: relative;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    height: 35vh;
    padding-right: 1rem;
    padding-left: 1rem;
    border: 2px solid rgba(0, 68, 198, 1);
}

#myChart {
    padding-right: 1rem;
    padding-left: 1rem;
}